{% load i18n %}{% autoescape off %}
{% blocktrans %}Ви отримали цей лист, бо запросили відновлення пароля для свого акаунта на сайті {{ site_name }}.{% endblocktrans %}

{% trans "Будь ласка, перейдіть за посиланням, щоб встановити новий пароль:" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% trans "Якщо ви не запитували відновлення — просто проігноруйте цей лист." %}

{% trans "З повагою," %}
{% trans "команда" %} {{ site_name }}
{% endautoescape %}
