{% extends "base.html" %}
{% load static i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container auth-page auth-page--narrow">
    <h1 class="auth-page__title auth-page__title--centered">{% trans 'Пароль збережено' %}</h1>
    <div class="checkout-section">
        <p>{% trans 'Тепер ви можете' %} <a href="{% url 'accounts:login' %}">{% trans 'увійти в особистий кабінет' %}</a>.</p>
    </div>
</div>
{% endblock %}
