{% extends "base.html" %}
{% load static core_tags image_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container blog-detail">
    <div class="blog-detail__header">
        <div class="blog-detail__date">{{ news_item.created_at|date:"d.m.Y" }}</div>
        <h1 class="blog-detail__title">{{ news_item.title }}</h1>
    </div>

    {% if news_item.image %}
    {% responsive_img news_item.image alt=news_item.title css_class="blog-detail__img" sizes="(max-width: 767px) 100vw, 960px" eager=True priority=True %}
    {% endif %}

    <div class="blog-detail__content">
        {{ news_item.content|safe }}
    </div>

    <div class="blog-detail__back">
        <a href="{% url 'blog:news_list' %}" class="btn btn--outline">&larr; Усі новини</a>
    </div>

    {% faq "blog" %}
</div>
{% endblock %}
