{% load core_tags i18n image_tags %}
<div class="mini-cart__header">{% trans "Кошик" %}</div>
<div class="mini-cart__items">
    {% for item in cart_items %}
    <div class="mini-cart__item">
        <div class="mini-cart__item-img">
            {% with img=item.product.main_image %}
            {% if img %}
            {% responsive_img img.image alt=item.product.name sizes="64px" %}
            {% endif %}
            {% endwith %}
        </div>
        <div>
            <div>{{ item.product.name|truncatewords:6 }}</div>
            <div class="mini-cart__item-meta">{{ item.quantity }} x {{ item.price|uah }}</div>
        </div>
    </div>
    {% empty %}
    <div class="mini-cart__empty">{% trans "Кошик порожній" %}</div>
    {% endfor %}
</div>
<div class="mini-cart__footer">
    <div class="mini-cart__total">
        <span>{% trans "Разом:" %}</span>
        <span>{{ cart_total|uah }}</span>
    </div>
    <a href="{% url 'cart:detail' %}" class="btn btn--primary btn--block btn--sm">{% trans "Перейти до кошика" %}</a>
</div>
